doctype html
html
  block head
    script(type='text/javascript', src='https://code.jquery.com/jquery-2.0.3.min.js')
    script.
      $( document ).ready(function() {window.location.replace('../oauth-finish?' + window.location.hash.substring(1));});
