doctype html
html
  block head
    script(type='text/javascript', src='/libs/jquery/jquery.min.js')
    script.
      $( document ).ready(function() {window.location.replace('../oauth-finish?' + window.location.hash.substring(1));});
